absl-py==2.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alabaster==1.0.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
commonmark==0.9.1
contourpy==1.3.0
cycler==0.12.1
datasets==2.21.0
defusedxml==0.7.1
dill==0.3.8
docutils==0.21.2
fastjsonschema==2.20.0
filelock==3.15.4
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
gast==0.6.0
google-pasta==0.2.0
grpcio==1.66.0
h5py==3.11.0
huggingface-hub==0.24.6
idna==3.8
imagesize==1.4.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keras==3.5.0
kiwisolver==1.4.5
libclang==18.1.1
loguru==0.7.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.4.0
mpmath==1.3.0
msgpack==1.0.8
msgpack-numpy==0.4.8
multidict==6.0.5
multimethod==1.12
multiprocess==0.70.16
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nbsphinx==0.9.5
networkx==3.3
numpy==2.1.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
opt-einsum==3.3.0
optree==0.12.1
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
pathos==0.2.8
pbr==6.1.0
pillow==10.4.0
platformdirs==4.2.2
pox==0.3.4
ppft==1.7.6.8
protobuf==4.25.4
psutil==6.0.0
pyarrow==17.0.0
Pygments==2.18.0
pylatexenc==2.10
pyparsing==3.1.4
pyscf==2.6.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
pyzmq==26.2.0
qiskit==1.2.0
qiskit-aer==0.15.0
recommonmark==0.7.1
referencing==0.35.1
requests==2.32.3
rich==13.8.0
rpds-py==0.20.0
rustworkx==0.15.1
scikit-learn==1.5.1
scipy==1.14.1
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==8.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stevedore==5.3.0
symengine==0.11.0
sympy==1.13.2
tabulate==0.9.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
tensorpack==0.11
termcolor==2.4.0
threadpoolctl==3.5.0
tinycss2==1.3.0
toml==0.10.2
tomli==2.0.1
torch==2.3.0+cu118
torchdiffeq==0.2.4
torchpack==0.3.1
torchquantum @ git+https://github.com/mit-han-lab/torchquantum.git@8555b83971ba6959f89d4b248f812c784e78f28a
torchtext==0.18.0
torchvision==0.18.0+cu118
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
triton==2.3.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
Werkzeug==3.0.4
wrapt==1.16.0
xxhash==3.5.0
yarl==1.9.4
